/*Selected tag {
    property : value
}*/
   
h3{
    font-family: 'Poppins', sans-serif;
    color: black; 
    font-weight: bolder;
    text-align: left;
}
.firstDiv h3 {background-color: #ebe0d0;}


.secondDiv h3 {background-color: #ebe0d0;}

ul{
    margin: 0;
    padding: 0;
}


.button_1{
    height: 38px;
    border-radius: 10px;
    padding-left: 20;
    padding-right: 20;
    background-color: grey 
 }

    /*Global*/
.container{
        width: 80%;
        margin: auto;
        over-flow: hidden;
         }

.container h3 {
    background-color: #ebe0d0;
    border-color: #ebe0d0;
    border-width: 10px;
    border-style: solid;
}
